*~
.DS_Store

__pycache__/
.ipynb_checkpoints/

data/
auth/

README.html

project/description.pdf
*.aux
*.fls
*.toc
*.out
*.lot
*.log
*.lof
*.blg
*.bbl
*.aux
*.dvi
*.synctex.gz
*.fdb_latexmk
*.bcf
*.nav
*.run.xml
*.snm
