numpy
scipy
matplotlib
scikit-learn

requests
facebook-sdk
tweepy

pandas
xlrd
xlwt
tables
sqlalchemy

statsmodels
sympy
autograd
numba
Cython

seaborn
ggplot
altair
bokeh

keras
theano
tensorflow

jupyter
ipython

grip
